.roboto-slab {
    text-decoration-line: underline;
    background-color: beige;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

p {
    background-color: beige;
}

section input {
    background-color: beige;
    width: 50px;
}

section label {
    background-color: beige;
}

.dancing-script {
    background-color: beige;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

main label, main input {
    background-color: beige;
}

footer {
    padding: 20px;
}

footer, footer p, footer a, h5 {
    background-color: darkblue;
}

footer p, footer h5 {
    color: white;
}

footer a {
    color: aliceblue;
}

aside, aside p, aside a {
    background-color: #3366FF;
}