.roboto-slab {
    text-decoration-line: underline;
    background-color: beige;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

.dancing-script {
    background-color: beige;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0,0,0,.15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em #0000001a,inset 0 .125em .5em #00000026;
}

img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
}